*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6f4e37;
    font-family: cursive, sans-serif;
    font-size: 16px;
    gap: 10px;
}
.lib-title{
    background-color: #362010;
    text-align: center;
    padding: 8px 0;
    font-family: serif;
}
#container{
    align-self: center;
    width: 100%;
    display: grid;
    height: 100vh;
    border: 20px solid #362010;
    border-left: none;
    border-right: none;
}
.big{
    font-size: 1.5rem;
    font-weight: 900;
}
.white{
    color: #fff;
}
.no-uline{
    text-decoration: none;
}
.sections{
    display: grid;
    place-content: center;
    border: 5px solid #362010;
    border-left: none;
    border-right: none;
}
.sections:hover{
    background-color: aqua;
}
.sections > a:hover{
    color: #6f4e37;
}
.footer{
    background-color: #362010;
    text-align: center;
    padding: 5px 0;
}
.footer > a:hover{
    text-decoration: underline;
    color: aqua;
}

/* Mobile UI */
@media screen and (max-width: 425px){
    #container{
        width: 100%;
    }
}