*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6f4e37;
    font-family: cursive, sans-serif;
    position: relative;
}
.lib{
    color: #fff5ee;
    background-color: #362010;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 8px 0;
    font-family: serif;
}
.container{
    align-self: center;
}
.name{
    margin-bottom: 5px;
    color: #fff5ee;
}
.user-name{
    width: 100%;
    border: 3px solid #fff5ee;
    border-radius: 8px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    /* padding-inline: 20px 90px; */
}