*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6f4e37;
    font-family: cursive, sans-serif;
}
.lib{
    background-color: #362010;
    text-align: center;
    padding: 8px 0;
    font-family: serif;
}
.container{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.name{
    margin-bottom: 5px;
}
.user-name{
    width: 100%;
    border: 3px solid #fff5ee;
    border-radius: 8px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
}
.go{
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}
button{
    width: 100%;
    height: 30px;
    background-color: rgb(29, 165, 29);
    border: 1px solid rgb(29, 165, 29);
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 8px;
}
.footer{
    background-color: #362010;
    text-align: center;
    padding: 5px 0;
}
.footer > a{
    text-decoration: none;
}
.footer > a:hover{
    text-decoration: underline;
    color: aqua;
}
.big{
    font-size: 1.5rem;
    font-weight: 900;
}
.white{
    color: #fff;
}
@media screen and (max-width: 425px){
    .container{
        width: 80%;
    }
}