*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6f4e37;
    font-family: cursive, sans-serif;
    font-size: 16px;
}
.lib{
    color: #fff5ee;
    background-color: #362010;
    text-align: center;
    padding: 8px 0;
    font-family: serif;
}
.container{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.name{
    margin-bottom: 5px;
    color: #fff5ee;
}
.user-name{
    width: 100%;
    border: 3px solid #fff5ee;
    border-radius: 8px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
}
.go{
    width: 100%;
    background-color: rgb(29, 165, 29);
    cursor: pointer;
    border-radius: 8px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid rgb(29, 165, 29);
    color: #fff;
    font-size: 1.25rem;
}
.footer{
    background-color: #362010;
    color: #fff5ee;
    text-align: center;
    padding: 5px 0;
}
.footer > a{
    text-decoration: none;
}
.footer > a:hover{
    text-decoration: underline;
    color: aqua;
}
.big{
    font-size: 1.5rem;
    font-weight: 900;
}
.white{
    color: #fff;
}